:root{ --bg-color-primary: rgb(39, 98, 100); } 

/* ------------ANIMATIE--------------------------------- */
.spinner{
    left:50%; top:50vh;
    width: 40px; height: 40px; position: relative;     
}
.sector {
    position:absolute; 
    height: 100%; width: 100%;
    border: 10px dotted transparent;  
    overflow: hidden;   
    border-radius:50%;   
    animation: rotate var(--duration) ease infinite;   
} 
.sector1 {
    border-top: 15px dotted rgb(214, 237, 238);--duration: 2.55s; 
}
.sector2 {
    border-top: 15px dotted rgb(210, 228, 230);--duration: 2.58s; 
}
.sector3 {
    border-top: 15px dotted rgb(175, 201, 204);--duration: 2.61s; 
}
.sector4 {
    border-top: 15px dotted rgb(136, 184, 187);--duration: 2.64s; 
 }
 .sector5 {
    border-top: 15px dotted rgb(97, 143, 145);--duration: 2.67s; 
 }
 .sector6 {
    border-top: 15px dotted rgb(74, 120, 122);--duration: 2.70s; 
 }
 .sector7 {
    border-top: 15px dotted rgb(57, 105, 107);--duration: 2.73s; 
 }
 .sector8 {
    border-top: 15px dotted rgb(47, 99, 102);--duration: 2.76s; 
 }
 .sector9 {
    border-top: 15px dotted rgb(33, 90, 92);--duration: 2.79s; 
 }
 .sector10 {
    border-top: 15px dotted rgb(26, 78, 80);--duration: 2.82s; 
 }
 .sector11 {
    border-top: 15px dotted rgb(14, 54, 57);--duration: 2.85s; 
 }
 .sector12 {
    border-top: 15px dotted rgb(6, 49, 49);--duration: 2.88s; 
 }

@keyframes rotate {
    0% {
     transform: rotate(0);
    }
    100% {
     transform: rotate(360deg);
    }
 } 
/* --------------GRADIENT----------------------------- */
 .linear{
    background-image: linear-gradient(270deg, rgb(6, 41, 41), rgb(172, 209, 211));
    width: 100%; height: 5vh;
    background-size:150%;
    animation: gradient 2s alternate infinite;
 }

 @keyframes gradient{
    0%{background-position: left;}
    100%{background-position: right;}
 }
 /* -------------VARIABILE---------------------------- */

 .variabile{
    --verysmall: 30px;
    --small: 34px;
    --medium: 40px;
    --large: 48px;
    --verylarge: 55px;
    --wdth: 300;
 }

 .var1{
    font-size: var(--verysmall);
 }
 .var2{
    font-size: var(--small);
 }
 .var3{
    font-size: var(--medium);
 }
 .var4{
    font-size: var(--large);
 }
 .var5{
    font-size: var(--verylarge);
 }
 .var6{
    font-weight: var(--wdth);
 }